


.title {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  z-index: 1;
  --bs-heading-color: azure;
  margin-top: 1%;
  top:0px;
  position: relative;
}
h1 {
  font-family: "Times New Roman", Times, serif; text-decoration-line: underline;
}
h2 {
  font-family: "Times New Roman", Times, serif;
}


.bottom-bar {
  position: absolute;
  height: 10%;
  width: 100%;
  background-color: #7a4d19;
  top: 2000px;;
  z-index: -10;
}

.box1 {

  height: 300px;width: 500px;background-color: #e0b97e;position: absolute;left: 5%;margin-top: 250px;
  
}

.box2 {
height: 300px;width: 500px;background-color: #e0b97e;position: absolute;left: 37%;margin-top: 250px;
  
}

.box3 {
 
  height: 300px;
  width: 500px;
  background-color: #e0b97e;
  position: absolute;
  margin-top: 250px;
  margin-left: auto;
  right :5%;

}
.button{
  font-family: "Times New Roman", Times, serif;
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 12px;
  width: 125px;
}

.admin-button{
  font-family: "Times New Roman", Times, serif;
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px;
  text-align: center;
  font-size: 10px;
  border-radius: 5px;
}

.vertical-line {
  position: absolute; 
  border-left: 2px solid rgb(0, 0, 0);
  height: 80%;
}