<!DOCTYPE html>
{% extends 'WebDev/base.html' %}
<html lang="en">
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Developers</title>
</head>
<a href="{% url 'home' %}" class="admin-button" style="position:absolute; right: 1%; top:1%; color: #ffffff;  background-color: #04AA6D;">Log out</a>

<!-- CRUD -->
 <!-- Create -->
 <form method="post" action="{%url 'devs' %}">
{% csrf_token %}
<table class = "table table-bordered table-light"> 
    <tr><th>First Name</th><th>Last Name</th><th>Gender</th><th>Email</th><th>Mobile Number</th><th>Home Number</th><th>Employee ID</th><th>##############</th></tr>
    {% if not form.instance.DeveloperID %}
    <tr>
        {%include 'Webdev/dev_save.html' %}
    </tr>
    {% endif %}
    <!-- Read -->
    {% for x in developers %}
    
        <tr>
            {% if form.instance.DeveloperID == x.DeveloperID %}
            {%include 'Webdev/dev_save.html' %}
            {% else %}

            <td>{{x.FirstName}}</td>
            <td>{{x.LastName}}</td>
            <td>{{x.Gender}}</td>
            <td>{{x.Email}}</td>
            <td>{{x.MobileNumber}}</td>
            <td>{{x.HomeNumber}}</td>
            <td>{{x.DeveloperID}}</td>
            <td>
                <!-- Update -->
                <button formnovalidate class="btn btn-success" name="edit" value = "{{x.DeveloperID}}">Edit</button>
                <!-- Delete -->
                <button formnovalidate class="btn btn-danger" name="delete" value = "{{x.DeveloperID}}">Delete</button>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
</form>
{% endblock %} 

             