<!DOCTYPE html>
{% extends 'WebDev/base.html' %}
<html lang="en">
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Website Details</title>
</head>
<a href="{% url 'home' %}" class="btn btn-success" style="position:absolute; right: 1%; top:1%; color: #ffffff;  background-color: #04AA6D;">Log out</a>

<!-- CRUD -->
 <!-- Create -->
 <form method="post" action="{%url 'admin_billing' %}">
{% csrf_token %}
<table class = "table table-bordered table-light"> 
    <tr><th>Client ID</th><th>Amount Owed</th><th>Payment Status</th><th>Billing ID</th><th>##############</th></tr>
    {% if not form.instance.BillingID %}
    <tr>
        {%for field in form%}
        <td>{{ field }}</td>
    {%endfor%}
    <td><button class="btn btn-primary" name="bill_save" value = "{{x.BillingID}}">Save </button></td>
    </tr>
    {% endif %}
    <!-- Read -->
    {% for x in bills %}
    
        <tr>
            {% if form.instance.BillingID == x.BillingID %}
            {%for field in form%}
            <td>{{ field }}</td>
            {%endfor%}
            <td><button class="btn btn-primary" name="bill_save" value = "{{x.BillingID}}">Save </button></td>
            {% else %}

            <td>{{x.ClientID}}</td>
            <td>£{{x.AmountOwed}}</td>
            <td>{{x.PaymentStatus}}</td>
            <td>{{x.BillingID}}</td>
            <td>
                <!-- Update -->
                <button formnovalidate class="btn btn-success" name="bill_edit" value = "{{x.BillingID}}">Edit</button>
                <!-- Delete -->
                <button formnovalidate class="btn btn-danger" name="bill_delete" value = "{{x.BillingID}}">Delete</button>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
</form>
{% endblock %} 

             