<!DOCTYPE html>
{% extends 'WebDev/base.html' %}
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% block title %} WEBSITE {% endblock %}</title>

</head>
{% block content %}
<body>
    <div>
        <!-- title -->
        <h1 style="font-family: 'Times New Roman', Times, serif; text-align: center; z-index: 1; --bs-heading-color: #ffffff; margin-top: 1%; top:0px; position: relative; color: black; font-size:60px;">Admin Dashboard</h1>
        <h2 style="position:absolute; left: 38%; top:150px; font-size:28px; width: 500px;">All admin functions can be accessed from the nav bar above or the buttons bellow.<br> if required admin database can be accessed with this link: http://127.0.0.1:8000/admin/ <h2>


        <!-- structure -->       
        <div style="height: 300px; width: 500px;  background-color: #e0b97e; position: absolute; left: 5%; margin-top: 250px;"></div>
        <div style="height: 300px;width: 500px;background-color: #e0b97e;position: absolute;left: 37%;margin-top: 250px;" ></div>
        <div style="height: 300px;width: 500px; background-color: #e0b97e;position: absolute;margin-top: 250px;margin-left: auto;right :5%;"></div>

        <!-- buttons -->
        
        <a href="{% url 'devs' %}" class="btn btn-success" style="position:absolute; left: 23%; top:600px">Developers</a>
        <a href="{% url 'admin_website_details' %}" class="btn btn-success" style="position:absolute; left: 54%; top:600px; width: 150px;">Website Details</a>
        <a href="{% url 'admin_billing' %}" class="btn btn-success" style="position:absolute; right: 6%; top:600px">Billing</a>
        <a href="{% url 'home' %}" class="btn btn-success" style="position:absolute; right: 1%; top:1%; color: #ffffff;  background-color: #04AA6D;">Log out</a>
     
        <!-- text -->
        <h1 style="position:absolute; left: 8%; top:400px;">Developers</h1>
        <h2 style="position:absolute; left: 8%; top:500px; font-size:28px; width:400px; ">Add, Update and Delete developers working in the company</h2>

        <h1 style="position:absolute; left: 40%; top:400px;">Website Details</h1>
        <h2 style="position:absolute; left: 40%; top:500px; font-size:28px; width:400px; ">Add, Update and Delete websites and assign developers to work on websites</h2>

        <h1 style="position:absolute; right: 22%; top:400px;">Billing</h1>
        <h2 style="position:absolute; right: 7%; top:500px; font-size:28px; width:400px; ">Add, Update and Delete client bills </h2>
</body>
{% endblock %}
</html>