<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <!-- details form -->
        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
            <h1 style="text-align: center;"><span style="color: blue;">Fusion Web Development</span></h1>

            {% csrf_token %}  <!-- CSRF token for security -->

            <!-- details heading -->
            <h3>Website Details</h3>

            <!-- Login heading -->
            <input id="ClientID" type="hidden" value={{user.id}} name="ClientID">

            <!-- name input field -->
            <div class="form-group">
                <label for="WebsiteName">Website Name</label>
                <input id="WebsiteName" type="text" name="WebsiteName">
            </div>

            <!-- type input field -->
            <div class="form-group">
                <label for="WebsiteType">Website Type    </label>
                <input id="WebsiteType" type="text" name="WebsiteType">
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>